/*
        colores dominantes corporativos
        #15375b
        #1269b3
        #98c13c
        colores subordinados/complementarios
        #37bdee
        #0a7b3e
*/
@import url("https://fonts.googleapis.com/css?family=Helvetica+Neue");
body {
    font-family: "Helvetica Neue" !important;
    font-weight: lighter !important;
}
p, label {
    font-family: "Helvetica Neue" !important;
    font-weight: lighter !important;
    font-size: 1rem !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue" !important;
}
/*Clases de variantes de input*/
.inputBlack{
    color:black !important;
    inline-size: inherit;
    border-bottom: 2px solid #000000 !important;
}
.inputBlack:focus {
    padding-bottom: 6px !important;
    border-width: 3px !important;
    border-image: linear-gradient(to right, #000000,#000000) !important;
    border-image-slice: 1 !important;
}
.inputWhite{
    color:#adadad !important;
    inline-size: inherit;
    border-bottom: 2px solid #adadad !important;
}
.inputWhite:focus {
    padding-bottom: 6px !important;
    border-width: 3px !important;
    border-image: linear-gradient(to right, #adadad,#ffffff) !important;
    border-image-slice: 1 !important;
}
input {
    border: 0 !important;
    border-bottom: 2px solid #15375b !important;
    outline: 0 !important;
    color: #ffffff !important;
    padding: 7px 0 !important;
    transition: border-color 0.2s !important;
    background-color: transparent !important;
}
input:focus {
    box-shadow: none !important;
}
input:focus {
    padding-bottom: 6px !important;
    border-width: 3px !important;
    border-image: linear-gradient(to right, #15375b,#1269b3) !important;
    border-image-slice: 1 !important;
}
/*fin clases de variantes de input*/
select {
    min-width: 100px !important;
    border: 0 !important;
    border-bottom: 2px solid #15375b !important;
    outline: 0 !important;
    color: #15375b !important;
    padding: 7px 0 !important;
    transition: border-color 0.2s !important;
}
textarea {
    border: 0 !important;
    border-bottom: 2px solid #15375b !important;
    outline: 0 !important;
    color: #15375b !important;
    padding: 7px 0 !important;
    transition: border-color 0.2s !important;
}
textarea:focus {
    padding-bottom: 6px;
    border-width: 3px;
    border-image: linear-gradient(to right, #15375b,#1269b3);
    border-image-slice: 1;
}
.popoverPanale{
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    max-width: 100% !important;
    text-align: -webkit-center;
}
/*Button*/
button {
    padding: 2px 8px 2px 8px !important;
    margin: 0 2px 0 2px !important;
    border-radius: 6px !important;
}
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.successButton{
    background-color: #0a7b3e !important;
    color: #ffffff !important;
    border: 2px solid #0a7b3e !important;
}
.warnigButton{
    background-color: #ffc107 !important;
    color: #000000 !important;
    border: 2px solid #ffc107 !important;
}
.dangerButton {
    background-color: #dc3545 !important;
    color: #ffffff !important;
    border: 2px solid #dc3545 !important;
}
.intralixButton {
    background-color: #15375b !important;
    color: #ffffff !important;
    border: 2px solid #15375b !important;
}
/*CheckBox*/
input[type="checkbox"] {
    visibility:hidden;
    cursor:pointer;
}
input[type="checkbox"]:before,
input[type="checkbox"]:after {
    content:"";
    font-size: smaller;
    padding: 0 0 0 16px;
    visibility:visible;
    width:1.5em;
    height:1.5em;
    box-sizing:border-box;
}
input[type="checkbox"]:before {
  border-radius:1em;
  border:3px solid #f0f0f0;
  transition:border 0.1s ease-out;
}  
input[type="checkbox"]:before {border-color:#15375b;}
input[type="checkbox"].white:before {border-color:#ffffff;}
input[type="checkbox"].white:after {color:#ffffff;}
input[type="checkbox"]:after {
  content:"✓";
  text-align:center;
  font-weight:bolder;
  overflow:hidden;
  opacity:0;
  margin: 0 0 0 -33px;
  color: #15375b;
}
input[type="checkbox"]:checked:after {opacity:1;}