.sidebarinicio {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 190px !important;
  min-width: auto !important;
}
.leaflet-container {
  min-height:100%;
  max-height: 100%;
}
.mapaInicio{
  position: absolute;
  left: 80px !important;
  right: 0 !important;
  top: 0 !important;
  bottom: 0 !important;
}
.card-header {
  padding: 0 0px 0 5px !important;
}
.sidebarHeader{
  background-color: #15375b !important
}
.sidebarBody{
  background-color: #15375b !important
}
.sidebarFooter{
  background-color: #15375b !important
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background: none !important;
}
.pro-inner-item a {
  color : #adadad !important;
  font-family: "Helvetica Neue" !important;
  font-weight: lighter !important;
  font-size: 1rem !important;
}
.pro-item-content {
  color : #adadad !important;
  font-family: "Helvetica Neue" !important;
  font-weight: lighter !important;
  font-size: 1rem !important;
}