/*
.sidebarinicio {
  position: absolute !important;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 190px !important;
  min-width: auto !important;
}

.card-header {
  padding: 0 0px 0 5px !important;
}
.sidebarHeader{
  background-color: #15375b !important
}
.sidebarBody{
  background-color: #15375b !important
}
.sidebarFooter{
  background-color: #15375b !important
}

.pro-sidebar .pro-menu.shaped .pro-menu-item > .pro-inner-item > .pro-icon-wrapper {
  background: none !important;
}
.pro-inner-item a {
  color : #adadad !important;
  font-family: "Helvetica Neue" !important;
  font-weight: lighter !important;
  font-size: 1rem !important;
}
.pro-item-content {
  color : #adadad !important;
  font-family: "Helvetica Neue" !important;
  font-weight: lighter !important;
  font-size: 1rem !important;
}
*/
/**/

.topnav {
  overflow: hidden;
  background-color: #15375b;
  position: absolute;
  left: 0 !important;
  right: 0 !important;
  top: 0 !important;
}

.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav img{
  float: left;
  padding: 14px 16px;
}

.topnav div{
  margin-left: 100px;
  padding: 14px 16px;
}
.topnav .salir{
  float: right;
  padding: 0;
}
.topnav .salir:hover {
  background-color: transparent;
  color: #F2F2F2;
}