.sidebarinicio {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: fit-content;
    min-width: 0px;
  }
  
  .sidebaracciones {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    width: fit-content;
    min-width: 0px;
  }
  
  .leaflet-container {
    min-height:100%;
    max-height: 100%;
  }
  
  .mapaInicio{
    position: absolute;
    left: 80px !important; 
    right: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
  }
  
  .card-header {
    padding: 0 0px 0 5px !important;
  }