.sidebarMNHeader {
    text-align: -webkit-center;
    padding: 24px 5px 24px 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14;
    letter-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.sidebarMNFooter {
    text-align: -webkit-center;
    padding: 0px 5px;
    line-height: 5px !important;
    max-height: 130px;
    overflow-y: auto;
}

.checbokGroup {
    right: 10px;
    position: absolute;
    top: 11px;
    height: 20px;
    width: 20px;
}

.checbokUnidad {
    float: right;
    height: 20px;
    width: 20px;
}